annotated-types==0.7.0
dataclasses==0.6
dsnparse==0.4.0
dsnparser==0.0.3
greenlet==3.3.0
mariadb==1.1.14
mysql==0.0.3
mysqlclient==2.2.7
packaging==25.0
psycopg2==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
SQLAlchemy==2.0.45
sqlmodel==0.0.30
typing-inspection==0.4.2
typing_extensions==4.15.0
