*

!odoo
!odoo/**
!app
!app/**
!app/.gitignore
!postgresql
!postgresql/**
!mariadb
!mariadb/**
!scheduling
!scheduling/**
!template
!template/**
!docker-compose.yml
!.gitignore
!Makefile
!README.md
!.github
!.github/**

scheduling/**/models
scheduling/**/database.py
__pycache__
