*

!odoo
!odoo/**
!postgresql
!postgresql/**
!mariadb
!mariadb/**
!scheduling
!scheduling/**
!fastapi
!fastapi/**
!template
!template/**
!docker-compose.yml
!.gitignore
!Makefile
!README.md

__pycache__