services:
  odoo:
    build: 
      context: ./odoo
    environment:
      PASSWORD_FILE: /run/secrets/postgresql_password
      HOST: postgres
    secrets:
      - postgresql_password
    ports:
      - 8069:8069
    volumes:
      - ./odoo:/data

  postgres:
    image: postgres:15
    volumes:
      - postgres:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgresql_password
    secrets:
      - postgresql_password

  mariadb:
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    secrets:
      - api_mariadb_root_pass

  scheduling:
    build:
      context: ./scheduling
    volumes:
      - ./scheduling:/data
      - ./scheduling/cron.d/crontab:/etc/crontab

  fastapi:
    build:
      context: ./fastapi
    volumes:
      - ./fastapi:/data
    ports:
      - 85:80

volumes:
  postgres:

secrets:
  postgresql_password:
    file: ${SECRET_DIR}/odoo_pg_pass
  api_mariadb_root_pass:
    file: ${SECRET_DIR}/api_mariadb_root_pass