x-app-config: &app
  depends_on:
    mariadb:
      condition: service_healthy
  environment:
    DATABASE_DSN: ${MARIADB_DSN}
    DATABASE_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
  secrets:
    - api_mariadb_root_pass

services:
  odoo:
    build: 
      context: ./odoo
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PASSWORD_FILE: /run/secrets/postgresql_password
      HOST: postgres
    secrets:
      - postgresql_password
    volumes:
      - ./odoo:/data

  postgres:
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgresql_password
    healthcheck:
      test: ["CMD", "pg_isready", "-t", "5"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    image: postgres:15
    secrets:
      - postgresql_password
    volumes:
      - postgres:/var/lib/postgresql/data

  mariadb:
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    image: mariadb
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    secrets:
      - api_mariadb_root_pass
    volumes:
      - mariadb:/var/lib/mysql

  scheduling:
    build:
      context: ./scheduling
    environment:
      POSTGRESQL_DSN: ${POSTGRESQL_DSN}
      POSTGRESQL_PASSWORD_FILE: /run/secrets/postgresql_password
      MARIADB_DSN: ${MARIADB_DSN}
      MARIADB_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    secrets:
      - api_mariadb_root_pass
      - postgresql_password
    volumes:
      - ./scheduling:/data
      - ./scheduling/cron.d/crontab:/etc/crontab

  fastapi:
    <<: *app
    image: ghcr.io/deuky/chift-api/fastapi/main:latest
    build:
      context: ./app/fastapi
      target: unit

  flask:
    <<: *app
    image: ghcr.io/deuky/chift-api/flask/main:latest
    build:
      context: ./app/flask
      target: unit

  django:
    <<: *app
    image: ghcr.io/deuky/chift-api/django/main:latest
    build:
      context: ./app/django
      target: unit

  dotnet:
    <<: *app  
    image: ghcr.io/deuky/chift-api/dotnet/main:latest
    build: 
      context: ./app/.NET
      target: base

volumes:
  postgres:
  mariadb:

secrets:
  postgresql_password:
    file: ${SECRET_DIR}/odoo_pg_pass
  api_mariadb_root_pass:
    file: ${SECRET_DIR}/api_mariadb_root_pass