services:
  odoo:
    build: 
      context: ./odoo
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PASSWORD_FILE: /run/secrets/postgresql_password
      HOST: postgres
    secrets:
      - postgresql_password
    ports:
      - 8069:8069
    volumes:
      - ./odoo:/data

  postgres:
    image: postgres:15
    healthcheck:
      test: ["CMD", "pg_isready", "-t", "5"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgresql_password
    secrets:
      - postgresql_password

  mariadb:
    image: mariadb
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - mariadb:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    secrets:
      - api_mariadb_root_pass

  scheduling:
    build:
      context: ./scheduling
    volumes:
      - ./scheduling:/data
      - ./scheduling/cron.d/crontab:/etc/crontab
    environment:
      POSTGRESQL_DSN: ${POSTGRESQL_DSN}
      POSTGRESQL_PASSWORD_FILE: /run/secrets/postgresql_password
      MARIADB_DSN: ${MARIADB_DSN}
      MARIADB_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    secrets:
      - api_mariadb_root_pass
      - postgresql_password

  fastapi:
    build:
      context: ./app/fastapi
    volumes:
      - ./app/fastapi:/data
    ports:
      - 85:80
    depends_on:
      mariadb:
        condition: service_healthy
    environment:
      DATABASE_DSN: ${MARIADB_DSN}
      DATABASE_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    secrets:
      - api_mariadb_root_pass

volumes:
  postgres:
  mariadb:

secrets:
  postgresql_password:
    file: ${SECRET_DIR}/odoo_pg_pass
  api_mariadb_root_pass:
    file: ${SECRET_DIR}/api_mariadb_root_pass