x-app-config: &app
  depends_on:
    mariadb:
      condition: service_healthy
  environment:
    DATABASE_DSN: ${MARIADB_DSN}
    DATABASE_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
  secrets:
    - api_mariadb_root_pass

services:
  odoo:
    build: 
      context: ./odoo
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PASSWORD_FILE: /run/secrets/postgresql_password
      HOST: postgres
    ports:
      - 8069:8069
    secrets:
      - postgresql_password
    volumes:
      - ./odoo:/data

  postgres:
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgresql_password
    healthcheck:
      test: ["CMD", "pg_isready", "-t", "5"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    image: postgres:15
    secrets:
      - postgresql_password
    volumes:
      - postgres:/var/lib/postgresql/data

  mariadb:
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    image: mariadb
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    secrets:
      - api_mariadb_root_pass
    volumes:
      - mariadb:/var/lib/mysql

  scheduling:
    build:
      context: ./scheduling
    environment:
      POSTGRESQL_DSN: ${POSTGRESQL_DSN}
      POSTGRESQL_PASSWORD_FILE: /run/secrets/postgresql_password
      MARIADB_DSN: ${MARIADB_DSN}
      MARIADB_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    secrets:
      - api_mariadb_root_pass
      - postgresql_password
    volumes:
      - ./scheduling:/data
      - ./scheduling/cron.d/crontab:/etc/crontab

  fastapi:
    <<: *app
    build:
      context: ./app/fastapi
      target: prod
    ports:
      - 85:80

  flask:
    <<: *app
    build:
      context: ./app/flask
      target: prod
    ports:
      - 86:5000

  django:
    <<: *app
    image: chift-django:prod
    build:
      context: ./app/django
      target: prod
    ports:
      - 88:8000

  dotnet:
    <<: *app  
    build: 
      context: ./app/.NET
      target: prod
    ports:
      - 89:8080

volumes:
  postgres:
  mariadb:

secrets:
  postgresql_password:
    file: ${SECRET_DIR}/odoo_pg_pass
  api_mariadb_root_pass:
    file: ${SECRET_DIR}/api_mariadb_root_pass