x-app-config: &app
  depends_on:
    mariadb:
      condition: service_healthy
  environment:
    DATABASE_DSN: ${MARIADB_DSN}
    DATABASE_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
  secrets:
    - api_mariadb_root_pass

services:
  odoo:
    build: 
      context: ./odoo
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PASSWORD_FILE: /run/secrets/postgresql_password
      HOST: postgres
    secrets:
      - postgresql_password
    volumes:
      - ./odoo:/data

  postgres:
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgresql_password
    healthcheck:
      test: ["CMD", "pg_isready", "-t", "5"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    image: postgres:15
    secrets:
      - postgresql_password
    volumes:
      - postgres:/var/lib/postgresql/data

  mariadb:
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    image: mariadb
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    secrets:
      - api_mariadb_root_pass
    volumes:
      - mariadb:/var/lib/mysql

  scheduling:
    image: ghcr.io/deuky/chift-api/scheduling/${BRANCH:-main}:latest
    environment:
      POSTGRESQL_DSN: ${POSTGRESQL_DSN}
      POSTGRESQL_PASSWORD_FILE: /run/secrets/postgresql_password
      MARIADB_DSN: ${MARIADB_DSN}
      MARIADB_PASSWORD_FILE: /run/secrets/api_mariadb_root_pass
    secrets:
      - api_mariadb_root_pass
      - postgresql_password
    volumes:
      - ./scheduling/cron.d/crontab:/etc/crontab

  nginx:
    image: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/htpasswd:/etc/nginx/htpasswd
      - ./nginx/ssl:/etc/nginx/ssl
    ports:
      - 444:443
    depends_on:
      fastapi:
        condition: service_started
      odoo:
        condition: service_started
      django:
        condition: service_started
      dotnet:
        condition: service_started
      flask:
        condition: service_started

  fastapi:
    <<: *app
    image: ghcr.io/deuky/chift-api/fastapi/${BRANCH:-main}:latest

  flask:
    <<: *app
    image: ghcr.io/deuky/chift-api/flask/${BRANCH:-main}:latest

  django:
    <<: *app
    image: ghcr.io/deuky/chift-api/django/${BRANCH:-main}:latest

  dotnet:
    <<: *app  
    image: ghcr.io/deuky/chift-api/dotnet/${BRANCH:-main}:latest

volumes:
  postgres:
  mariadb:

secrets:
  postgresql_password:
    file: ${SECRET_DIR}/odoo_pg_pass
  api_mariadb_root_pass:
    file: ${SECRET_DIR}/api_mariadb_root_pass