*
!Contexts
!Contexts/**
!Controllers
!Controllers/**
!Models
!Models/**
!Properties
!Properties/**
!Services
!Services/**
!.NET.sln
!.gitignore
!*.json
!*.csproj
!Dockerfile
!Makefile
!*.cs
!obj
!obj/**
!Converters
!Converters/**