name: Build Infra Artefact

on:
  push:
    branches:
      - "**"
  workflow_dispatch:


jobs:
  build:
    name: Build & Package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: XXX
        run: |
          echo "ok";