name: Build Base FastAPI

on:
  push:
    branches:
      - "**"
    paths:
      - app/fastapi/Dockerfile
      - app/fastapi/requirements.txt
      - app/fastapi/Makefile
      - .github/workflows/build-fastapi-base.yaml

jobs:
  build:
    name: Build & Package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up environment
        run: |
          echo "VERSION=$(date "+%Y%m%d.%H%M%S").${GITHUB_SHA::7}" >> $GITHUB_ENV
          echo "GHCR_REPOSITORY=deuky/chift-api/fastapi/base" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./app/fastapi
          target: base
          file: ./app/fastapi/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.GHCR_REPOSITORY }}:${{ env.VERSION }}
            ghcr.io/${{ env.GHCR_REPOSITORY }}:latest

